#introContainer {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

#introContainer img{
    filter:blur(5px);
    object-fit: cover;
    object-position: center;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index: -1;
}


#title{
    position: absolute;
    width:100%;
    top:0;
    text-align: center;
    margin-top: 10%;   

}

#title h1 {
    text-align: center;
    /* font-size: large; */
    color: #222222; /* Dark text color */
  }

#title h2 {
    text-align: center;
    /* font-size: 3em; Medium font size */
    color: #444444; /* Slightly lighter text color */
  }
  